<div class="login-box">
  <div class="login-panel">
    <div class="login-avatar">
      <a href="https://github.com/cod7ce" target="_blank">
        <img src="http://0.gravatar.com/avatar/14312264ea2a383ab66f399f192604eb?size=220px" alt="cod7ce@gmail.com" class="img-circle">
      </a>
    </div>
    <div class="login-form">
    <%= simple_form_for [:admin, @user], :url => admin_post_login_path, :html => {:method => 'post', :class=>'form'} do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.button :submit, :value => 'Enjoy', :class => 'btn-default', :style => 'margin:40px 65px;width:150px;' %>
    <% end %>
    </div>
  </div>
</div>
