<header>
  <div class="container">
    <!--<h4><span class="glyphicon glyphicon-home"></span>&nbsp;纸房子</h4>-->
    <h4><img src="assets/logo.png" height="40px" /></h4>
    <p class="navbar-text navbar-right">
      <%= link_to '注销', admin_logout_path %>
    </p>
  </div>
</header>
