<div class="container about">
  <div class="my-avatar">
    <img src="http://0.gravatar.com/avatar/14312264ea2a383ab66f399f192604eb?size=350px" alt="cod7ce@gmail.com" class="img-circle">
  </div>
  <div class="jumbotron text-center">
    <h1>每个有追求的青年，都以一张那得出手的照片～<h1>
  </div>
</div>
