<%= content_for :head_tag do %>
  <style>
    <!--
    html.front body{
      padding-top: 0;
    }
    -->
  </style>
  <script data-no-turbolink>
    $(document).ready(function(){
      $.fn.fullpage({
        verticalCentered: true,
        loopHorizontal: false,
        scrollingSpeed: 150,
        controlArrowColor: '#eee'
      }); 
    });
  </script>
<% end %>
<div class="section">
  <div class="slide">
    <div class="wrapper jumbotron">
      <h2 class="text-center">我叫丁楠，是一名程序员</h2>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="my-avatar">
              <img src="http://0.gravatar.com/avatar/14312264ea2a383ab66f399f192604eb?size=160px" alt="cod7ce@gmail.com" class="img-circle">
            </div>
          </div>
          <div class="col-md-7">
            <p>首先</p>
            <p>每个有追求的青年</p>
            <p>都有一张拿得出手的照片</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>先不谈技术</p>
      <p>聊聊在生活中我是个什么样的人？</p>
      <p>好吧，这话题确实太大</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>热爱生活、待人真诚、喜欢篮球、弹弹吉它（only 老婆大人）</p>
      <p>就没点缺点？</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron text-center">
      <p>时而内向、时而疯狂</p>
      <p>动不动就来大姨夫</p>
      <p>这TM也叫缺点?</p>
      <p>是的，还有点瞎臭美</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>是时候说重点了</p>
      <p>什么前端、后端、客户端，分它干啥？我都爱！</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>HTML5、CSS3、JS（有点虚）、jQuery、Less、Bootstrap ...</p>
      <p>就不展开了，我想大家都会</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>还是得明确下，不是Win平台不好，确实对Win的东西提不起来兴趣</p>
      <p>编译型的也不爱</p>
      <p>就爱 Ruby、PHP、Nodejs ... 这些看上去很轻，用起来也很轻的解释型语言</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>Linux、Mac才是我的大爱</p>
      <p>这样就能妥妥地用 Vim、Subl</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>感觉有点扇自己的脸</p>
      <p>我爱 objc，要不怎么会写Mac端软件？</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>我是开源爱好者</p>
      <p>svn已经不用了，现在主要是git</p>
      <p>github帐号是 cod7ce </p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron text-center">
      <p>......</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>记得联系我</p>
      <p>cod7ce@gmail.com</p>
      <p>好吧，我妥协</p>
      <p>cod7ce@qq.com 也行</p>
    </div>
  </div>
</div>
<!--
<div class="container about">
  <div class="my-avatar">
    <img src="http://0.gravatar.com/avatar/14312264ea2a383ab66f399f192604eb?size=350px" alt="cod7ce@gmail.com" class="img-circle">
  </div>
  <div class="jumbotron text-center">
    <h1>每个有追求的青年，都以一张那得出手的照片～<h1>
  </div>
</div>
-->
