<div class="section">
  <div class="slide">
    <div class="wrapper jumbotron">
      <p class="text-center" style="font-size: 36px;">我叫丁楠，是一名程序员</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="my-avatar">
              <img src="http://0.gravatar.com/avatar/14312264ea2a383ab66f399f192604eb?size=150px" alt="cod7ce@gmail.com" class="img-circle">
            </div>
          </div>
          <div class="col-md-7">
            <p>首先</p>
            <p>每个有追求的青年</p>
            <p>都有一张拿得出手的照片</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>先不谈技术</p>
      <p>聊聊在生活中我是个什么样的人？</p>
      <p>好吧，这话题确实太大</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>热爱生活、待人真诚、喜欢篮球、弹弹吉它</p>
      <p>全是好词，就没点缺点？</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>时而内向，时而疯狂，动不动就来大姨夫</p>
      <p>这TM也叫缺点?</p>
      <p>是的，还有点瞎臭美</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>是时候说重点了</p>
      <p>什么前端、后端、客户端，分它干啥？我都爱！</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>HTML5、CSS3、JS、jQuery、Less、Bootstrap ...</p>
      <p>就不展开了，我想大家都会</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>不是Win平台不好，确实对Win的东西提不起来兴趣，编译型的也不爱</p>
      <p>就爱 Ruby、PHP、Nodejs ... </p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>Linux、Mac才是我的大爱</p>
      <p>这样就能妥妥地用 Vim、Sublime，彰显牛B一面</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>感觉有点扇自己的脸</p>
      <p>忘记我还爱 objc，要不怎么会写Mac端软件？</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>我还是开源爱好者，所以</p>
      <p>SVN已经不用了，现在主要是Git</p>
      <p>Github主页在这 <%= link_to 'http://cod7ce.github.com', 'http://cod7ce.github.com' %></p>

    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron text-center">
      <p>......</p>
    </div>
  </div>
  <div class="slide">
    <div class="wrapper jumbotron">
      <p>记得联系我，cod7ce@gmail.com</p>
      <p>好吧，我妥协！cod7ce@qq.com 也行</p>
    </div>
  </div>
</div>
<script> 
    $.fn.fullpage({
      verticalCentered: true,
      loopHorizontal: false,
      scrollingSpeed: 150,
      controlArrowColor: '#eee'
    }); 
</script>
