// Place all the styles related to the admin::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.login{
  background: #f8f8f8;
}
.login-box{
  width: 70%;
  margin: 0 auto;
  .login-panel{
    padding: 45px 15px 15px 15px;
    margin: 50px auto;
    width: 400px;
    .login-avatar{
      text-align: center;
      margin-bottom: 15px;
      a{
        display: block;
        img{
          background: white;
          border: 1px solid #ccc;
          padding: 5px;
          &:hover{
          }
        }
      }
      &:after{
        content: '@cod7ce';
        position: relative;
        top: 15px;
        font-size: 12px;
        font-weight: bold;
        color: #bbb;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}
