<div class="head-margin"></div>
<h1><%= @gist.title %></h1>
<div><%= @gist.summary %></div>
<% @gist.snippets.each do |snippet| %>
  <p><%= snippet.filename %></p>
  <p><%= raw coderay(snippet) %></p>
<% end %>
