<div class="col-md-4">
  <div class="thumbnail">
    <div class="blog-model">
      <%= link_to '博文' %>
    </div>
    <div class="caption">
      <h4>写点值得写的事</h4>
      <p></p>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="thumbnail">
    <div class="code-model">
      <%= link_to 'Gist' %>
    </div>
    <div class="caption">
      <h4>超级代码片段</h4>
      <p></p>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="thumbnail">
    <div class="share-model">
      <%= link_to '兴趣' %>
    </div>
    <div class="caption">
      <h4>分享图书、电影、音乐</h4>
      <p></p>
    </div>
  </div>
</div>
