// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face{
  font-family: mouse;
  src: url('/assets/Mouse.otf');
}
$front-header-height: 100px;
html.front{
  body, ul, li {
    margin: 0;
    padding: 0;
  }
  body{
    background: white;
    padding-top: $front-header-height;
  }
  .text-center{
    text-align: center;
  }
  .btn-github{
    width: 40%;
    background: none;
    border: 2px solid #e7eaf1;
    padding: 18px 50px;
    color: #b1bad0;
    margin-top: 20px;
    border-radius: 3px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &:hover{
      color: #7e8aa7;
      border-color: #e0e3ec;
    }
  }
  .section{
    margin-bottom: 0;
    }
  .wrapper{
    margin: auto;
    max-width: 600px;
    vertical-align: middle;
    p{
      line-height: 2em;
    }
  }
  .header-wrapper{
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: hsla(240,17%,99%,0.97);
    box-shadow: 0 0.375em 0 hsla(0,0%,0%,0.03);
    border-bottom: 0.0625em solid #fff;
  }
  header{
    height: $front-header-height;
    nav {
      li {
        float: left;
        list-style: none;
        width: 25%;
        height: $front-header-height;
        line-height: $front-header-height;
        text-align: center;
        -webkit-transition: .3s;
        transition: .3s;
        cursor: pointer;
        &:hover{
          background: rgba(94, 213, 235, 0.13);
          a {
            color: #3cc7e7;
          }
        }
        a {
          -webkit-transition: .3s;
          transition: .3s;
          display: block;
          height: 100%;
          color: #99A0B0;
          font-size: 18px;
          text-decoration: none;
        }
      }
    }
  }
    .jumbotron{
      background: white;
      h1,h2{
        color: #737c93;
        margin-bottom: 30px;
        letter-spacing: 0.2em;
        font-weight: 200;
      }
      p{
        color: #989faf;
      }
    }
  .my-words{
    background: #2fd5fd;
    padding: 120px 50px;
    text-align: center;
    color: white;
    font-family: mouse;
    font-size: 150px;
    letter-spacing: 0.15em;
    p{
      letter-spacing: 0.15em;
      font-size: 26px;
    }
  }

  #zhifangzi{
    div{
      position: relative;
      svg {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .daily-wall, .analog-clock{
    background: #ffd800;
    color: white;
    padding: 120px 50px;
    h1{
      margin-top: 80px;
      font-size: 80px;
    }
    span {
      font-size: 240px;
    }
  }
  .analog-clock{
    background: #e23ba1;
  }

  .footer-wrapper{
    background: hsla(240,17%,99%,0.97);
    box-shadow: 0 -0.375em 0 rgba(0, 0, 0, 0.03);
    font-family: mouse;
  }
  footer {
    padding: 40px 0;
    a {
      text-transform: uppercase;
      display: inline-block;
      width: 19%;
      font-size: 12px;
      color: #b1bad0;
    }
  }
  
  /* about */
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
    .my-avatar{
      text-align: center;
    }
  }
}
