// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixin';
$front-header-height: 100px;
html.front{
  body, ul, li {
    margin: 0;
    padding: 0;
  }
  a, .header-wrapper{
    @include transition_all(0.3s);
    text-decoration: none;
  }
  body{
    background: white;
  }
  .head-margin{
    margin-top: $front-header-height;
  }
  .text-center{
    text-align: center;
  }
  .mouse{
    font-family: mouse;
  }
  .btn-preview{
    letter-spacing: 0;
    background: rgba(0,0,0,0.0);
    margin: 0;
    margin-top:50px;
    color: #989faf;
    color: rgba(0, 0, 0, 0.3);
  }
  .modal{
    .modal-dialog, img, .modal-content{
    }
  }
  .btn-github{
    letter-spacing: 0;
    text-transform: initial;
    width: 40%;
    background: rgba(255,255,255,.2);
    border: 0;
    padding: 18px 50px;
    color: #fff;
    margin-top: 20px;
    @include border_radius(3px);
    @include transition_all(0.3s);
    &:hover{
      background: rgba(255,255,255,.4);
    }
  }
  .section{
    margin-bottom: 0;
    }
  .wrapper{
    margin: auto;
    max-width: 600px;
    vertical-align: middle;
    p{
      line-height: 2em;
      color: #737c93 !important;
    }
  }
  .header-wrapper{
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    background: rgba(255, 255, 255, 0.95);
  }
  .header-close{
    top: -$front-header-height;
  }
  #home-menu{
    z-index: 1000;
    position: fixed;
    top: 20px;
    left: 20px;
    @include border_radius(3px);
    background: rgba(255, 255, 255, 0.2);
    ul{
      li{
        float: left;
        list-style: none;
        text-align: center;
        width: 80px;
        height: 50px;
        line-height: 50px;
        &:hover{
          background: rgba(255, 255, 255, 0.4)
        }
        a{
          color: #fff;
          font-size: 12px;
        }
      }
    }
  }
  header{
    height: $front-header-height;
    nav {
      li {
        float: left;
        list-style: none;
        width: 25%;
        height: $front-header-height;
        line-height: $front-header-height;
        text-align: center;
        @include transition_all(0.3s);
        cursor: pointer;
        &:hover{
          border-bottom:3px solid rgba(106, 174, 227, 0.13); 
          a {
            color: #3cc7e7;
          }
        }
        a {
          @include transition_all(0.3s);
          display: block;
          height: 100%;
          color: #99A0B0;
          font-size: 18px;
          text-decoration: none;
        }
      }
    }
  }
    .jumbotron{
      background: none;
      padding-top: 0;
      padding-bottom: 0;
      h1,h2{
        color: #fff;
        margin-bottom: 30px;
        letter-spacing: 0.2em;
        font-weight: 200;
      }
      p{
        color: #989faf;
        color: rgba(0,0,0,.3);
      }
    }
  .my-words{
    background: image-url('kong.jpg') top center  #64bced;
    text-align: center;
    color: white;
    font-size: 150px;
    letter-spacing: 0.15em;
    #maison{
      @include transparent(0.0); 
      @include transform3d(0, -300px, 0);
      @include transition_all(1s);
      @include transition_delay(2s);
    }
    #maison.active{
      @include transparent(1); 
      @include transform3d(0, 0, 0);
    }
    #maison-github{
      @include transform3d(0, 200px, 0);
      @include transition_all(1s);
      @include transition_delay(3s);
    }
    #maison-github.active{
      @include transform3d(0, 0, 0);
    }
    p{
      letter-spacing: 0.15em;
      font-size: 26px;
      text-shadow: 0 0 50px #fff;
      color: rgba(0, 0, 0, 0.5);
      @include transparent(0);
      @include transition_all(1s);
      @include transition_delay(1s);
    }
    p.active{
      @include transparent(1);
    }
    div.author{
      position: absolute;
      bottom: 40px;
      right: 20px;
      a{
        font-size: 12px;
        display: inherit;
        letter-spacing: 0;
        color: rgba(255,255,255,0.3);
        &:hover{
          color: rgba(255,255,255,0.9);
        }
      }
    }
  }
  #zhifangzi{
    div{
      position: relative;
      svg {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .daily-wall, .analog-clock, .my-apps{
    background: #e9c75c; /* #a06ae3;*/
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: white;
    h1{
      margin-top: 50px;
      font-size: 30px;
    }
    span {
      font-size: 240px;
    }
  }
  .analog-clock{
    background: #a06ae3; /*#f27184;*/
  }
  .my-apps{
    background: #f27184;
    .btn-github {
      width: 100%;
    }
  }

  .footer-wrapper{
    background: white;
    background: rgba(255, 255, 255, 0.95);
  }
  footer {
    padding: 50px 0;
    a {
      text-transform: uppercase;
      display: inline-block;
      width: 19%;
      font-size: 12px;
      color: #b1bad0;
    }
  }
  
  /* about */
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
    .my-avatar{
      text-align: center;
    }
  }
}
